.crayons-btn {
    font-weight: 600;
    line-height: 1;
    padding: 12px;
    color: #fff !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    background-color: #1e49a2;
    border-color: #1e49a2;

    &:hover {
        background-color: $dark-blue;
        border-color: $dark-blue;
    }
}

/* Button Create new account */
.btn-create-account{

}

/* End of button create new account */

/* Button Create post */
.btn-create-post {



}
/* End of Button Create post */

/* Button Add posts */
.btn-add-post{

}
/* End of Add posts */

.btn-create-post,
.btn-add-post {

}
