/* Heading */
.heading {
    font-size: 27px;
    margin-bottom: 1.2rem;
    a {
        text-decoration: none;
        color: #000;
    }
}

/* End of Heading */

/* Sub Heading */
.sub-headig{
    font-size: 23px;
    margin-bottom: .75rem;
    a {
        text-decoration: none;
        color: #000;
    }
}

/* End of sub heading */